// application color
$app-text-color: #000;

// Footer colors
$footer-copyright-text-color: #9b9b9b;

// Footer and header colors
$footer-header-background-color: #000;
$footer-header-text-color: #fff;
$logo-first-letter-color: #04be7b;

// Subheader colors
$subheader-background-color: #f1f1e8;

// section color
$section-background-color: #f1f1e8;
$section-sucess-color: #04be7b;
$section-failure-color: #be0f04;
$section-neutral-color: #5180df;

// application layout breakpoint
$breakpoint-max-width--desktop: 75vw;

// product color
$product-border-color: #04BE7B;
$product-content-border-color: #DDDDDD;
$product-content-rating-background-color: #f1f1e8;
$product-content-link-background-color: #FD5210;

//best choice color
$best-choice-border-color: #04BE7B;

